head {

    font-size: larger;
    padding: 80px;
    border-color: burlywood;
}

#parami{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    color: bisque;
}